

    .main {
        text-align: center;
        /* background-color: rgb(241, 240, 235); */
    }
    
    .navbar {
        color: white;
        /* position: fixed; */
    }
    
    .box {
        height: 273px;
        width: 730px;
        border: 0.1px solid beige;
        box-shadow: 1px 2px 8px 2px rgb(0,0,0,0.5);
        border-radius: 10px;
        background-color: beige;
        margin-top:40px;
    }
    .box1 {
        height: 225px;
        width: 730px;
        border: 0.1px solid beige;
        box-shadow: 1px 2px 8px 2px rgb(0,0,0,0.5);
        border-radius: 10px;
        background-color: beige;
        margin-top:15px;
    }
    .addButtons{
        right:10px;
        position:fixed;
        top: 30px;
    }
    
    .btn {
        margin: 10px;
    }
    
    #delbtn {
        float: right;
        margin: 2px;
       
    }
    
    #deploytxt {
        float: left;
        margin: 2px;
        border-radius: 10px;
        border: 1px solid black;
        border-bottom: 1.5px solid black;
    }
    
    
    .pod {
        margin-top: 54px;
        height: 40px;
        width: 650px;
        /* border:1px solid blue; */
    }
    
    .lpod {
        height: 40px;
        width: 300px;
        /* border:1px solid red; */
        float: left;
        margin-right: 20px;
    }
    
    
    .rpod {
        height: 40px;
        width: 300px;
        /* border:1px solid red; */
        float: right;
        margin-right: 20px;
    }
    
    .ram {
        height: 40px;
        width: 650px;
        /* border:1px solid blue; */
        margin-top: 10px;
    
    }
    
    .lram {
        height: 40px;
        width: 300px;
        /* border:1px solid red; */
        margin-left: 30px;
        float: left;
    }
    
    .rram {
        height: 40px;
        width: 300px;
        /* border:1px solid red; */
        margin-right: -10px;
        float: right;
    }
    
    .cpu {
        height: 40px;
        width: 650px;
        /* border:1px solid blue; */
        margin-top: 10px;
    }
    
    .lcpu {
        height: 40px;
        width: 300px;
        /* border:1px solid red; */
        margin-left: 3px;
        float: left;
    }
    
    .rcpu {
        height: 40px;
        width: 300px;
        /* border:1px solid red; */
        margin-right: 18px;
        float: right;
    }
    .storage{
        margin-left:111px;
        margin-top:10px;
        float:left;
    }
    .ramds{
        margin-top: 54px;
        height: 40px;
        width: 650px;
    }
    
    .subbtn {
        float: right;
        margin: 10px;
        margin-right: 10px;
        margin-top: 27px;
    }
    
    .submitbtn {
        position: fixed;
        bottom: 10px;
        right: 15px;
 
    }
    
    
    .text {
        height: 30px;
        width: 55px;
        margin-left: 20px;
        border: none;
        border-bottom: 2px solid black;
    }
    
    
    
    
    
    
    